@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(./banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    padding-left: 10px;
}

.name{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}
.title-nama{
    padding-right: 25%;
    transform: translateY(95%);
}
.title-nama-color{
    color: red;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    padding-left: 25%;
}

.wrapper{
    transform: translateY(40%);
    color: aliceblue;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    height: 84px;
    display: flex;
}

.words{
    overflow: hidden;
}
span{
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 5s infinite;
}
.description{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    transform: translateY(30%);
}

.social-media{
    color: aliceblue;
    transform: translateY(100%);
    font-family: 'Inter', sans-serif;
}

.Instagram{
    color: aliceblue;
    text-decoration: none;
}

.Twitter{
    color: aliceblue;
    text-decoration: none;
}

.Matrix{
    color: aliceblue;
    text-decoration: none;
}

.copyright{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    padding-top: 10%;
}

@keyframes spin_words{
    5%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
@media only screen and (max-width: 600px) {
    body{
        background-position: 48%;
    }
    .wrapper{
        font-size: 20px;
        height: 45px;
    }
    .words{
        font-size: 10px;
        transform: translateY(20%);
    }
    .name{
        transform: translateY(140%);
        font-size: 30px;
    }
    .description{
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {
    body{
        background-position: 48%;
    }
    .wrapper{
        font-size: 10px;
        height: 45px;
    }
    .words{
        font-size: 20px;
        transform: translateY(20%);
    }
    .name{
        transform: translateY(140%);
        font-size: 30px;
    }
    .copyright{
        transform: translateY(35%);
    }
    .description{
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {
    body{
        background-position: 46%;
    }
    .wrapper{
        font-size: 40px;
        height: 45px;
    }
    .words{
        font-size: 30px;
        transform: translateY(20%);
    }
    .name{
        transform: translateY(140%);
        font-size: 30px;
    }
    .copyright{
        transform: translateY(20%);
    }
    .description{
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {
    body{
        background-position: 46%;
    }
    .wrapper{
        font-size: 50px;
        height: 65px;
    }
    .words{
        font-size: 50px;
        transform: translateY(0%);
    }
    .name{
        transform: translateY(40%);
        font-size: 40px;
    }
    .copyright{
        transform: translateY(10%);
    }
    .description{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper{
        font-size: 50px;
        height: 65px;
    }
    .words{
        font-size: 50px;
        transform: translateY(0%);
    }
    .name{
        transform: translateY(40%);
        font-size: 40px;
    }
    .copyright{
        transform: translateY(2%);
    }
    .description{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper{
        font-size: 50px;
        height: 65px;
    }
    .words{
        font-size: 50px;
        transform: translateY(0%);
    }
    .name{
        transform: translateY(40%);
        font-size: 40px;
    }
    .copyright{
        transform: translateY(0%);
    }
    .description{
        font-size: 16px;
    }
}